<header class="app-header navbar">
<button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button"><i class="icon-menu icons"></i></button>
<a class="navbar-brand" href="#"></a>
<!-- <ul class="navbar-toggler right d-lg-none" style="top: 5px;"><a href="{{site.url}}" class="nav-link"><i class="icon-arrow-right icons" style="color: rgba(0, 0, 0, 0.3);"></i></a></ul> -->

<ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggler" href="#"><i class="icon-menu icons"></i></a>
    </li>
</ul>
<ul class="nav navbar-nav ml-auto  d-md-down-none"><li class="nav-item">
        <!-- <a class="nav-link navbar-toggler" href="#"><i class="icon-arrow-right icons"></i></a> -->
    </li></ul>
</header>