<div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="social-box facebook">
                        <i class="icon-social-facebook icons"></i>
                        <div class="chart-wrapper">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="social-box-chart-1" height="90" style="display: block; width: 298px; height: 90px;" width="298"></canvas>
                        </div>
                        <ul>
                            <li>
                                <strong>89k</strong>
                                <span>friends</span>
                            </li>
                            <li>
                                <strong>459</strong>
                                <span>feeds</span>
                            </li>
                        </ul>
                    </div>
                    <!--/.social-box-->
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="social-box twitter">
                        <i class="icon-social-twitter icons"></i>
                        <div class="chart-wrapper">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="social-box-chart-2" height="90" style="display: block; width: 298px; height: 90px;" width="298"></canvas>
                        </div>
                        <ul>
                            <li>
                                <strong>973k</strong>
                                <span>followers</span>
                            </li>
                            <li>
                                <strong>1.792</strong>
                                <span>tweets</span>
                            </li>
                        </ul>
                    </div>
                    <!--/.social-box-->
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="social-box linkedin">
                        <i class="icon-social-linkedin icons"></i>
                        <div class="chart-wrapper">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="social-box-chart-3" height="90" style="display: block; width: 298px; height: 90px;" width="298"></canvas>
                        </div>
                        <ul>
                            <li>
                                <strong>500+</strong>
                                <span>contacts</span>
                            </li>
                            <li>
                                <strong>292</strong>
                                <span>feeds</span>
                            </li>
                        </ul>
                    </div>
                    <!--/.social-box-->
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="social-box google">
                        <i class="icon-social-google icons"></i>
                        <div class="chart-wrapper">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="social-box-chart-4" height="90" style="display: block; width: 298px; height: 90px;" width="298"></canvas>
                        </div>
                        <ul>
                            <li>
                                <strong>894</strong>
                                <span>followers</span>
                            </li>
                            <li>
                                <strong>92</strong>
                                <span>circles</span>
                            </li>
                        </ul>
                    </div>
                    <!--/.social-box-->
                </div>
                <!--/.col-->
            </div>